.components-ao-field {
  padding-bottom: 24px;

  label, .small-print {
    padding-bottom: 6px;
    display: flex;
  }
  .small-print {
    font-size: 11px;;
  }

  .input-field {
    max-width: 240px;

    input {
      display: flex;
      width: 100%;
      line-height: 36px;
      font-size: 16px;
      padding: 0px 8px;
      outline: 0 none;
      border-radius: 0px;
      border: 1px solid #cccccc;
      &:focus {
        border-color: lightblue;
      }
    }
  }
}