* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

.main-container {
  display: flex;  
  height: 100%;

  .left {
    width: 20%;
  }

  .right {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    .pages-router {
      flex-grow: 1;
    }
  }
}