 
.hamburger {
  position: fixed;
  top: 16px;

  &-menu {
   font-size: 32px; 
   margin-left: 16px;
   background: none;
   svg {
      color: #000 !important;
    }
  } 
}
  
.components-sidebar {
  display: flex;
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  justify-content: center;
  &-nav-items {
     width: 100%;
    .navbar-close {
      background-color: #060b26;
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: start;
      align-items: center;
      .hamburger-menu-close {
        margin-left: 16px;
        font-size: 32px;
        background: none;
      }
    }
  }

  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 16px;
    list-style: none;
    height: 60px;

    a {
      text-decoration: none;
      color: #f5f5ff;
      font-size: 18px;
      width: 95%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 16px;
      border-radius: 4px;

      &:hover {
        background-color: #1a83ff;
      }

      span {
        margin-left: 16px;
      }
    }
  }
  
}
  
